@page "/"
@namespace BlazoriseTestProject.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazoriseTestProject</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bulma/blazorise.bulma.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazoriseTestProject.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazorise/breakpoint.js" type="module"></script>
    <script src="_content/Blazorise/button.js" type="module"></script>
    <script src="_content/Blazorise/closable.js" type="module"></script>
    <script src="_content/Blazorise/colorPicker.js" type="module"></script>
    <script src="_content/Blazorise/datePicker.js" type="module"></script>
    <script src="_content/Blazorise/fileEdit.js" type="module"></script>
    <script src="_content/Blazorise/inputMask.js" type="module"></script>
    <script src="_content/Blazorise/io.js" type="module"></script>
    <script src="_content/Blazorise/memoEdit.js" type="module"></script>
    <script src="_content/Blazorise/numericEdit.js" type="module"></script>
    <script src="_content/Blazorise/numericPicker.js" type="module"></script>
    <script src="_content/Blazorise/select.js" type="module"></script>
    <script src="_content/Blazorise/table.js" type="module"></script>
    <script src="_content/Blazorise/textEdit.js" type="module"></script>
    <script src="_content/Blazorise/theme.js" type="module"></script>
    <script src="_content/Blazorise/timePicker.js" type="module"></script>
    <script src="_content/Blazorise/tooltip.js" type="module"></script>
    <script src="_content/Blazorise/utilities.js" type="module"></script>
    <script src="_content/Blazorise.Bulma/modal.js" type="module"></script>
    <script src="_content/Blazorise.Bulma/tooltip.js" type="module"></script>
</body>
</html>
